/****************************************************************************
*                                 General                                   *
*****************************************************************************/
html #app{
    font-family:'Roboto-Medium', Arial, sans-sans-serif;
    height: 100%;
}

.main-content {
    padding-left: 75px;
    padding-top: 20px;
    width:100%;
}

li{
    list-style-type: none;
}

.serif{
    font-family:'Lora-Bold', serif;
}

.error-text {
    color: rgb(128,0,43);
}

/* Media queries */
@media (max-width: 600px){
    .main-content {
        padding-top: 75px;
    }
}

@media (max-width: 768px){
    .main-content{
        padding-top:65px;
    }
}


@media (min-height:1000px){
    .main-content{
        padding-left:165px;
    }
}

/****************************************************************************
*                                 Gradient                                  *
*****************************************************************************/
.redGradient{
    background: linear-gradient(to right, rgb(105,0,41),rgb(128,0,43));
}
.whiteGradient{
    background: linear-gradient(to right, rgb(255,243,219),rgb(255,238,158));
}

/****************************************************************************
*                                 Buttons                                   *
*****************************************************************************/
.wine-btn {
    height: 25px;
    padding: 0 20px;
    margin: 1px;
}
.wine-btn:hover {
    cursor: pointer;
}

.wine-btn:active {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* Button colors */
.btn-purple {
    border: 1px groove transparent;
    background-color: rgb(105,0,41);
    color: #fff;
}

.btn-purple:hover {
    border: 1px groove rgb(105,0,41);
    background-color: #fff;
    color: rgb(105,0,41);
}

/****************************************************************************
*                                  Search                                   *
*****************************************************************************/
.search-wrapper {
    background: rgb(200,200,200);
    width: 80%;
    margin: 25px 0;
}

/* Media queries */
@media (max-width: 600px){
    .search-wrapper {
        width: 98%;
    }
}

/****************************************************************************
*                                  Wines                                    *
*****************************************************************************/
.wine-color-bloc {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 50%;
}

.wine-score-medal {
    position: absolute;
    right: 100px;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(105,0,41);
    color: #fff;
}

.wine-score-medal>.score-bar {
    position: relative;
    top: 20px;
}
.wine-score-medal>.score {
    position: relative;
    top: 20px;
    font-size: 1.7em;
    font-family: 'Lora-Bold', serif;
}
.wine-score-medal>.nb-vote {
    position: relative;
    top: 25px;
    font-size: 0.8em;
}

.wine-bar {
    margin-top: 100px;
    height: 50px;
    width: 98%;
    line-height: 50px;
}

.wine-bar .score {
    background-color: #dddddd;
}
.wine-bar .cave {
    background-color: rgb(105,0,41);
    color: #e4e4e4;
}
.wine-bar .wishes {
    background-color: #5c5c5c;
    color: #e4e4e4;
}

/* Media queries */
@media (max-width: 600px){
    .wine-color-bloc {
        display: block;
    }

    .wine-score-medal {
        position: relative;
        left: 0px;
        width: 95%;
        height: 60px;
        border-radius: 0%;
    }

    .wine-score-medal>.score-bar {
        position: absolute;
        left: 20px;
    }
    .wine-score-medal>.score {
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 1.7em;
        font-family: 'Lora-Bold', serif;
    }
    .wine-score-medal>.nb-vote {
        position: absolute;
        top: 35px;
        right: 20px;
        font-size: 0.8em;
    }

    .wine-bar {
        margin-top: 10px;
        height: 150px;
        width: 100%;
        line-height: 50px;
    }
    .wine-bar>* {
        height: 50px;
    }

}

/****************************************************************************
*                                 Minimal                                   *
*****************************************************************************/
.margin-bottom-25 { margin-bottom: 25px!important; }

/* Media queries */
@media (max-width: 600px){
    .mob-not-inline {
        display: block!important;
        width: 100%;
    }
}