/****************************************************************************
*                                 General                                   *
*****************************************************************************/
.main-content {
    padding-left: 75px;
    padding-top: 20px;
    width:80%;
    margin:0 auto;
}

@media (max-width: 600px){
    .main-content {
        padding-top: 75px;
    }
}

li{
    list-style-type: none;
}
html #app{
    font-family:'Roboto-Medium', Arial, sans-sans-serif;
}
.serif{
    font-family:'Lora-Bold', serif;
}
.redGradient{
    background: linear-gradient(to right, rgb(105,0,41),rgb(128,0,43));
}
.whiteGradient{
    background: linear-gradient(to right, rgb(255,243,219),rgb(255,238,158));
}

/****************************************************************************
*                                 Buttons                                   *
*****************************************************************************/
/****************************************************************************
*                                 wineStories                                   *
*****************************************************************************/
.coverWineStory{
    max-height:400px;
    overflow:hidden;
    border:1px solid #690029;
    border-bottom:3px solid #690029;
    vertical-align: middle;
}
